/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Samples" },
            mode: params.publish_dir_mode,
            pattern: "*/*gz"
        ]
    }
    withName: 'PARSE_FASTP_REPORTS' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'COMBINE_FASTP_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }
    withName: 'FASTP_QC_CHECK' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }
}