/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'RAXML' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/RAxML" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'REROOT' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'CLUSTER_COLORING' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'GOTREE_PNG' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'REPORT' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'PHYLOGENY_QC' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny" },
            mode: params.publish_dir_mode
        ]
    }
}