/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    publishDir = [
        path: { "${params.outdir}/neissflow_out/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]
}

includeConfig 'modules_check_fastqs.config'
includeConfig 'modules_fastp.config'
includeConfig 'modules_stats.config'
includeConfig 'modules_mash.config'
includeConfig 'modules_assembly.config'
includeConfig 'modules_qc_check.config'
includeConfig 'modules_merge.config'
includeConfig 'modules_snippy.config'
includeConfig 'modules_amr_profiler.config'
includeConfig 'modules_gubbins.config'
includeConfig 'modules_snpdists.config'
includeConfig 'modules_tree.config'