/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: 'SNIPPY_AMR' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/snippy/AMR" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'DEPTH' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode,
            pattern: "*/*tsv"
        ]
    }
    withName: 'VARIANT_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MLST' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'NGMASTER' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'BLASTN' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MERGE_SINGLE_AMR' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MERGE_AMR' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }
}