/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GUBBINS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'COUNT_MONO_NUC' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MAKE_PARTITION_GUIDE' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }
}
